body{
    margin: 0px;
    padding: 0px;
    background-color: #2ac0ff;
    overflow: hidden;
}

.anim{
    position: relative;
    opacity: 0;
}

#preloader{
    position: relative;
    height: 10px;
    width: 0px;
    background-color: #FFF;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.copos{
    position: relative;
    display: inline-block;
    opacity: 1;
    /* visibility: hidden; */
}